@use 'shared/styles/abstracts.scss' as *;

.cart-empty-state {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2rem;
    justify-content: center;
    padding: 1rem;
    width: 100%;

    &__text {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__title {
        @include font-montserrat(2rem, 600);
        color: $color-mineShaft;
        text-align: center;
    }

    &__subtitle {
        @include font-montserrat(1.5rem, 400);
        color: $color-bandicoot;
        text-align: center;
    }

    &__image {
        width: 80%;
    }

    &__cta {
        text-decoration: none;
    }
}