@use 'shared/styles/abstracts.scss' as *;

.welcome {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2rem;
    justify-content: center;

    &__text {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__title {
        @include font-montserrat(2rem, 600);
        color: $color-mineShaft;
        text-align: center;
        white-space: pre-line;

        & > span {
            font-size: 1.5rem
        }
    }

    &__countdown {
        @include font-montserrat(1rem, 600);
        color: $color-bandicoot;
        text-align: center;
    }

    &__image {
        display: flex;
        width: 70%;
    }

    @include from-tablet{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;

        &__text {
            padding: 0 1rem;
        }

        &__image {
            justify-content: center;
            width: 40%;
        }
    }
}