@use 'shared/styles/abstracts.scss' as *;

.catalog {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 2rem;

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        margin-bottom: 1rem;
        padding: 0.625rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include from-tablet {
            width: 50%;
        }

        @include from-desktop {
            width: 25%;
        }

        &-link {
            text-decoration: none;
            display: block;
            padding: 0.313rem 0.5rem 0;
        }

        &-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 0.625rem;
            width: 100%;
            padding: 0 0.5rem;

            &-rating {
                display: flex;
                align-items: center;
                gap: 0.313rem;
            }

            & > span {
                @include font-montserrat(1rem, 600);
                color: $color-mineShaft;
            }
        }

        &-actions {
            display: flex;
            justify-content: center;
            align-items: center;
            background: transparent;
            gap: 4px;
            margin-top: to-rem(10);
        }

        &-action-add {
            width: 100%;
        }

        &-img {
            width: 100%;
            height: 12.5rem;
            background-color: $color-alto;
            border-radius: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;

            img{
                max-width: 100%;
                max-height: 100%;
            }
        }

        h2 {
            @include font-montserrat(1.5rem, 600);
            line-height: 1.4;
            margin: 0;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            width: 100%;
            word-wrap: break-word;
            text-transform: capitalize;
        }

        p {
            @include font-montserrat(1rem, 400);
            color: $color-doveGray;
            padding: 0 0.5rem;
        }
    }
}
