.app-header {
    align-items: center;
    background-color: var(--color-spectra);
    color: var(--color-twine);
    display: flex;
    font-family: 'montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    height: 60px;
}

.app-header__logo {
    font-style: italic;
}