@use 'shared/styles/abstracts.scss' as *;

.app-header {
    background-color: $color-spectra;
    color: $color-twine;
    display: flex;
    height: 60px;

    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    &__logo {
        @include font-montserrat(2rem, 600);
    }

    &__cart {
        display: flex;
        align-items: center;
        margin-left: auto;
    }
}
