.checkout-card {
  &__body {
    overflow: hidden;
    max-height: 2000px;
    transition: max-height 0.4s ease, opacity 0.3s ease, padding 0.4s ease;

    @media (max-width: 480px) {
      padding: 1rem;
    }
  }
}