@use 'shared/styles/abstracts.scss' as *;

.checkout-card {
  &__body {
    padding: to-rem(20);
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.3s ease, padding 0.4s ease;
  }
}