@use 'shared/styles/abstracts.scss' as *;
.quantity-control {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-spectra;
    font-size: 16px;
    color: $color-springWood;
    border-radius: 5px;

    &__button {
      background-color: transparent;
      padding: 8px 12px;
      cursor: pointer;
      font-size: 18px;
      transition: background-color 0.3s;

    &:hover {
      background-color: $color-hover;
    }

    &:disabled {
      cursor: not-allowed;
      background-color: $color-disabled;
    }
  }

  &__number {
    color: $color-mineShaft;
    margin: 0 10px;
    font-size: 14px;
    font-weight: bold;
    width: 40px;
    height: 30px;
    text-align: center;
    padding: 5px;
    border: none;
    background-color: $color-springWood;
  }
}
