@use 'shared/styles/abstracts.scss' as *;

.quantity-control {
  display: flex;
  align-items: stretch; // Hace que todos los hijos ocupen el mismo alto
  justify-content: center;
  font-size: 16px;
  color: $color-springWood;
  border-radius: 5px;
  overflow: hidden; // Para que los bordes redondeados se apliquen correctamente

  &__button {
    color: $color-mineShaft;
    border: 2px solid $color-spectra;
    background-color: transparent; // Sin fondo
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: $color-hover; // Opcional, puedes quitarlo si quieres solo borde
    }

    &:disabled {
      cursor: not-allowed;
      background-color: $color-disabled; // Opcional, si quieres mantener solo borde quita esta línea
    }

    // Ajustar bordes para que estén unidos al input
    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &__number {
    color: $color-mineShaft;
    font-size: 14px;
    font-weight: bold;
    width: 40px;
    text-align: center;
    border-top: 2px solid $color-spectra;
    border-bottom: 2px solid $color-spectra;
    border-left: none;
    border-right: none;
    border-radius: 0;
    background-color: $color-springWood;
    flex-grow: 0;
    height: auto;
    margin: 0;

    /* Quitar flechas en Chrome, Safari, Edge */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Mantener borde fijo al hover y disabled */
    &:hover,
    &:disabled {
      border-color: $color-spectra;
      background-color: $color-springWood;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }
}
