.checkout-card {
  &__header {
    padding: 1.25rem;
    cursor: pointer;
    background: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    border-bottom: 1px solid #eee;

    @media (max-width: 480px) {
      padding: 1rem;
    }

    &:hover {
      background: #ececec;
    }
  }
}