.container {
    box-sizing: border-box;
    padding: 0 1rem;
    width: 100%;
}

.container--fluid {
    width: 100%;
}

.container--centered {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

@media (min-width: 1280px) {
    .container {
        margin: 0 auto;
        max-width: 1280px;
    }
}