@use 'shared/styles/abstracts.scss' as *;

.form__control {
  padding: to-rem(7);
  font-size: to-rem(15);
  border-radius: to-rem(4);
  border: to-rem(1) solid $color-bandicoot;
  transition: all 0.2s ease;
  width: 100%;
  outline: none;


  &:disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  &:hover {
    border-color: $color-twine;
  }

  &--error {
    border-color: $color-red;
  }
}

.form__label {
  font-size: to-rem(14);
  font-weight: bold;
  &--checkbox {
    font-size: to-rem(14);
    font-weight: bold;
    cursor: pointer;
  }
}
.form__group {
  display: flex;
  flex-direction: column;
}

.form__error {
  margin-top: to-rem(4);;
  font-size: to-rem(12);
  color: $color-red;
}