// Color Palette
$color-alto: #e0e0e0;
$color-bandicoot: #858470;
$color-black: #000000;
$color-doveGray: #666666;
$color-mineShaft: #222222;
$color-spectra: #2D5A54;
$color-springWood: #F2F0E6;
$color-twine: #C5A059;
$color-white: #FFFFFF;
$color-hover:rgba(255, 255, 255, 0.1);
$color-disabled:rgba(255, 255, 255, 0.2);
$color-bg-image: #dcdcdc
