// Color Palette
$color-spectra: #2D5A54;
$color-mineShaft: #222222;
$color-springWood: #F2F0E6;
$color-twine: #C5A059;
$color-hover:rgba(255, 255, 255, 0.1);
$color-disabled:rgba(255, 255, 255, 0.2);
$color-bg-image: #dcdcdc