.search-input {
    margin-left: 2rem;
}

.search-input input {
    height: 36px;
    width: 420px;          
    padding: 0 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;

    font-size: 14px;       
    font-weight: 600;      
    font-family: Arial, sans-serif;

    outline: none;
}

.search-input input::placeholder {
    color: #999;
}
