@use 'shared/styles/abstracts.scss' as *;

.product-detail {
  padding: 2rem 0;

  &__goBack{
    @include font-montserrat(to-rem(16), 600);
    display: flex;
    gap: 4px;
    padding: 0;
    margin-bottom: 1rem;

    &-icon {
      rotate: 90deg;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__image {
    align-items: center;
    border-radius: 8px;
    border: 1px solid $color-alto;
    display: flex;
    flex: 0 0 35%;
    height: 100%;
    justify-content: center;
    width: 100%;

    & img {
      border-radius: 8px;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  &__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: to-rem(8);
    max-width: 500px; 
  }

  &__category {
    @include font-montserrat(to-rem(14), 600);
    align-items: center;
    color: $color-bandicoot;
    display: flex;
    gap: to-rem(4);
    letter-spacing: 1px;
  }

  &__title {
    @include font-montserrat(to-rem(28), 600);
    color: $color-mineShaft;
    line-height: 1.3;
    margin: 0;
  }

  &__author {
    @include font-montserrat(to-rem(20), 400);
    color: $color-doveGray;
  }

  &__publisher {
    display: hidden;
    @include font-montserrat(to-rem(18), 400);
  }

  &__price-row {
    align-items: center;
    display: flex;
  }

  &__price {
    @include font-montserrat(to-rem(18), 600);
    margin-left: auto;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1.5rem 0;

    &-title {
      @include font-montserrat(to-rem(18), 600);
      color: $color-mineShaft;
    }

    &__text {
      @include font-montserrat(1rem, 400);
      color: $color-doveGray;
      line-height: 1.6;
    }
  }

  &__actions {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    margin-top: auto;
  }

  @include from-tablet {
    padding: to-rem(40) to-rem(30);

    &__main {
      flex-direction: row;
      gap: to-rem(40);
    }

    &__info {
      flex: 1;
    }

    &__image {
      flex: 0 0 35%;
    }
  }

  @include from-desktop {
    padding: to-rem(50) to-rem(40);
  }
}



.quantity-selector {
  display: inline-flex;
  align-items: center;
  background-color: white;
  border: 0.1px solid #666;
  border-radius: 6px;
  overflow: hidden;
}

.quantity-selector button {
  width: 40px;
  height: 40px;
  border: none;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.quantity-selector button:hover {
  background-color: #e8e8e8;
}

.quantity-selector span {
  align-items: center;
  background-color: white;
  border-left: 0.1px solid #666;
  border-right: 0.1px solid #666;
  display: flex;
  font-weight: 600;
  height: 40px;
  justify-content: center;
  min-width: 30px;
  padding: 0 20px;
  text-align: center;
}


// @media (min-width: 768px) {
//   .product-detail {
//     
//   }
  
//   .product-detail__main {
//     flex-direction: row;
//     gap: 40px;
//   }
  
//   .product-detail__image {
//     
//   }
  
//   .product-detail__info {
//     flex: 1;
//   }
// }

// @media (min-width: 1024px) {
//   .product-detail {
//     padding: 50px 60px;
//   }
// }