@use 'shared/styles/abstracts.scss' as *;

.cart-item {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem 0;
    position: relative;
    width: 100%;

    &__thumbnail {
        width: 20%;
        height: auto;
    }

    &__content{
        flex: 1;
    }

    &__title {
        @include font-montserrat(1rem, 600);
    }

    &__price {
        @include font-montserrat(1rem, 700);
    }

    &__delete-icon {
        background-color: transparent;
        border: none;
        padding: 0;
        position: absolute;
        right: 0;
        top: 1rem;
    }
}