@use 'shared/styles/abstracts.scss' as *;

.cart-overlay {
    height: 100%;
    inset: 0;
    position: fixed;
    width: 100%;
    z-index: 10;

    &__backdrop {
        animation: cart-overlay-fade-in 0.25s ease-out forwards;
        background-color: rgba($color-black, 0.4);
        border: none;
        height: 100%;
        inset: 0;
        opacity: 0;
        padding: 0;
        position: absolute;
        width: 100%;
    }

    &__content {
        animation: cart-overlay-slide-in 0.3s cubic-bezier(.2,.9,.2,1) forwards;
        background-color: $color-white;
        box-shadow: -2px 0 5px rgba($color-black, 0.1);
        color: $color-mineShaft;
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100%;
        position: relative;
        transform: translateX(100%);
        width: 100%;

        @include from-tablet {
            border-radius: 12px 0 0 12px;
            margin-left: auto;
            max-width: 360px;
            width: 360px;
        }
    }

    &__content-header {
        display: flex;
        flex-direction: column;
        padding: to-rem(30) 1rem 0;
        position: relative;
    }

    &__content-body {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    &__close {
        background-color: transparent;
        color: $color-mineShaft;
        cursor: pointer;
        padding: 0;
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
    }

    &__title {
        @include font-montserrat(to-rem(24), 600);
        flex: 1;
        margin-right: to-rem(40);
        padding-bottom: 1rem;
        text-transform: uppercase;
    }
}

@keyframes cart-overlay-slide-in {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}

@keyframes cart-overlay-fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}