.app-footer {
    align-items: center;
    background-color: var(--color-spectra);
    color: var(--color-twine);
    display: flex;
    font-family: 'montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    height: 40px;
    justify-content: center;
}

.app-footer__text {
    font-style: italic;
    text-align: center;
    width: 100%;
}