@use 'shared/styles/abstracts.scss' as *;
@use 'shared/styles/breakpoints.scss' as *;

.thank-you__main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color-springWood;
  color: $color-mineShaft;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
}

.thank-you__content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
}

.thank-you__message h1 {
  @include font-montserrat(2rem, 700);
  margin-bottom: 1rem;
}

.thank-you__message p {
  @include font-montserrat(1rem, 400);
  max-width: 26rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.thank-you__actions {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.thank-you__image {
  display: flex;
  justify-content: center;
}

.message-image {
  width: 100%;
  max-width: 26.25rem;
  aspect-ratio: 4 / 3;
  background-color: #e5e5e5;
  border-radius: 0.5rem;
}


@include from-tablet {
  .thank-you__main {
    justify-content: center;
  }

  .thank-you__content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
  }

  .thank-you__message {
    flex: 1;
  }

  .thank-you__image {
    justify-content: flex-end;
  }
}

@include from-desktop {
  .thank-you__main {
    padding: 4rem 2rem;
  }
}