.checkout__row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
  width: 100%;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.checkout__col {
  min-width: 0;
  &--3 { grid-column: span 3; }
  &--4 { grid-column: span 4; }
  &--5 { grid-column: span 5; }
  &--6 { grid-column: span 6; }
  &--12 { grid-column: span 12; }
}