@use 'shared/styles/abstracts.scss' as *;

.button {
    @include font-montserrat(1rem, 600);
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    padding: 0.5rem 1rem;
    text-align: center;

    &--full {
        background-color: $color-spectra;
        border: none;
        color: $color-springWood;
    }

    &--outline {
        background-color: transparent;
        border: 2px solid $color-spectra;
        color: $color-spectra;
        text-decoration: none;
    }

    &--link {
        background-color: transparent;
        border: 0;
        color: $color-spectra;
        text-decoration: underline !important;
    }
}