@use 'shared/styles/abstracts.scss' as *;

.button {
    @include font-montserrat(1rem, 600);
    background-color: $color-spectra;
    border-radius: 4px;
    border: none;
    color: $color-springWood;
    cursor: pointer;
    display: inline-block;
    padding: 0.5rem 1rem;
}